
<img src="{{ STATIC_PREFIX }}images/network_gene.png" style="background:none;border:0px;position:relative; bottom:-10px;">Regulon member <img src="{{ STATIC_PREFIX }}images/network_regulator.png" style="background:none;border:0px;position:relative; bottom:-10px;">Regulator  <img src="{{ STATIC_PREFIX }}images/network_motif.png" style="background:none;border:0px;position:relative; bottom:-10px;">Motif

<script type="text/javascript">
var django_pssm = {{ pssm_logo_dict }};

      function uiDialogPopUpReady(id) {
          var pssm;
          for (var motif_id in django_pssm)  {
              if (motif_id == id) {
                  pssm = { alphabet: ['A', 'C', 'T', 'G'],
                           values: django_pssm[motif_id]
                  };
              }
          }
          var options = {
                    width: 300,
                    height: 150,
                    glyphStyle: '20pt Helvetica'
          };
          isblogo.makeLogo("canvas", pssm, options);
      }

      function pop_up(url, id) {

          $.ajax({
              url: url,
              success: function(html){
                  $("#pop_up").html(html);
                  uiDialogPopUpReady(id);
              },
              error: function(){
                  $("#pop_up").html("<p>Error!!</p>");
              }
          });
      }

      $(document).ready(function() {
          var vis = nwhelpers.initBiclusterNetworkTab({{ bicluster.id }}, django_pssm,
                                                      "{{ STATIC_PREFIX }}cytoscapeweb/swf/CytoscapeWeb",
                                                      "{{ STATIC_PREFIX }}cytoscapeweb/swf/playerProductInstall",
                                                      pop_up);
      });
</script>
<div id="cytoscapeweb">
  Cytoscape Web
</div>
<div id="pop_up">  
</div>
