<h3> Motif information </h3>
<p>
<div class="tab-contents">
<div id="main">
{% if motifs %}
There are {{ motifs|length }} motifs predicted
<table id="motif">
  <caption> Motif Table </caption>
  <thead>
    <tr>
      <th>Motif Id</th>
      <th>e-value</th>
      <th>Consensus</th>
      <th>Alignment</th>
    </tr>
  </thead>
  <tbody>
    {% for m in motifs %}
  <tr>
    <td>{{m.id}}</td>
    <td>{{m.e_value}}</td>
    <td>{{m.consensus}}</td>
    <td>
      <div id="canvas_{{m.id}}">
      </div>
    </td>
  </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
	<div id="error_message">
		No motifs were found.
	</div>
{% endif %}
</div>
</div>
