{% load filters %}
<h3> Regulators for Regulon {{ bicluster.id }}</h3>
<p>
 There are <b>{{ inf_count }}</b> regulatory influences for <b>Regulon {{ bicluster.id }}</b> 
</p>
<div id = "main">
<table id="regulators-table">
  <caption>Regulator Table</caption>
  <thead>
    <tr>
      <th>Regulator Name</th>
      <th>Regulator Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for influence in influences %}
    <tr>
      <td>{% if influence.type == 'tf' %}<a href="/gene/{{ influence.gene.name }}">{{ influence|format_influence }}</a>{% else %}{{ influence|format_influence }}{% endif %}</td>
      <td>{{ influence.type }}</td>
      <td>{{ influence.biclusters_set.all }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />
</div>
