{% extends "base2.html" %}
{% block title %}Network Portal - Biclusters regulated by {{ regulator }}{% endblock %}
{% block content %}
<div class="main">
<p>The are {{ biclusters|length }} biclusters regulated by <b><a href="/gene/{{gene.name}}">{{ gene.display_name }}</a></b> in the network <a href="/network/{{network.id}}">{{network.name}}</a>.</p>

<table>
  <thead>
    <tr>
      <th>Bicluster</th>
      <th>genes</th>
      <th>residual</th>
    </tr>
  </thead>
  <tbody>
    {% for bicluster in biclusters %}
    <tr>
      <td><a href="/bicluster/{{ bicluster.id }}">{{ bicluster.k }}</a></td>
      <td>{{ bicluster.genes.count }}</td>
      <td>{{ bicluster.residual }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p><a href="/network?biclusters={{ bicluster_ids|join:"," }}">view network for these {{ bicluster_ids|length }} biclusters</a></p>
</div>
{% endblock %}
