<h3> Motif information </h3><span id="search_help">(de novo identified motifs for regulons)</span>
<div class="tab-contents">
<div id="main">
<p>
{% if motifs %}
There are {{ motifs|length }} motifs predicted. {% if species.short_name == 'dvu' %}Click on the <a href="http://regpredict.lbl.gov/">RegPredict</a> links to explore the motif in <a href="http://regpredict.lbl.gov/">RegPredict</a>.{% endif %}</p>
<table id="motif">
  <caption> Motif Table ({{ motifs|length }})</caption>
  <thead>
    <tr>
      <th>Motif Id</th>
      <th>e-value</th>
      <th>Consensus</th>
      <th>Motif Logo</th>
      {% if species.short_name == 'dvu' %}<th>RegPredict</th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for m in motifs %}
  <tr>
    <td>{{m.id}}</td>
    <td>{{m.e_value}}</td>
    <td>{{m.consensus}}</td>
    <td>
      <div id="canvas_{{m.id}}">
      </div>
    </td>
    {% if species.short_name == 'dvu' %}<td><a href="http://regpredict.lbl.gov/regpredict/com.lbl.regusw.App/App.html?taxonomyId={{species.ncbi_taxonomy_id}}&pssm={{m.pssm.as_string}}">RegPredict</a></td>{% endif %}
  </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="error_message">
  No motifs were found.
</div>
{% endif %}
</div>
</div>
