{% load filters %}
<h3> Regulators for Regulon {{ bicluster.id }}</h3>
<p>
 There are <b>{{ inf_count }}</b> regulatory influences for <b>Regulon {{ bicluster.id }}</b> 
</p>
<div class="main">
<script>
$(document).ready(function() {
    $("#bicluster-regulators-table")
    .tablesorter({widthFixed: true, widgets: ['zebra']})
    {#.tablesorterPager({container: $("#tablepager")})#};
});
</script>

<table id="bicluster-regulators-table" class="tablesorter">
  <caption>Regulator Table ({{ inf_count }})</caption>
  <thead>
    <tr>
      <th>Regulator Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for influence in influences %}
    <tr>
      <td>{{ influence|format_influence }}</td>
      <td>{{ influence.type }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />
</div>
