{% extends "base2.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% block jsspecial %}
  <script type="text/javascript" src="{{ STATIC_PREFIX }}cytoscapeweb/js/AC_OETags.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}cytoscapeweb/js/cytoscapeweb.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/network_helpers.js"></script>
{% endblock %}
{% block content %}
<div id="bicluster-top">
  <div class="post-top">
    <div id="top-tabs">
      <ul>
	<li><a class="name" href="#tab-main">Regulon {{ bicluster.id }}</a>|</li>
	<li><a class="network" href="#tab-network">Network</a>|</li>
	<li><a class="regulator" href="#tab-regulator">Regulators</a>|</li>
	<li><a class="motif" href="#tab-motif">Motifs</a>|</li>
	<li><a class="function" href="#tab-function">Functions</a>|</li>
	<li><a class="genes" href="#tab-gene">Genes</a>|</li>
	<!-- <li><a class="cart" href="#tab-add-cart">Add to Cart</a>|</li> -->
	<li><a class="help" href="#tab-help">Help</a></li>
      </ul>

      <div id="tab-main">
	<div id="main">
	  <object data="{{ img_url }}" type="image/svg+xml"></object>
	</div>
	<div id="sidebar">
	  <h4>Summary</h4>
	  <table>
	    <tr>
	      <th class="help">Organism</th>
	    </tr>
	    <tr>
	      <td><a href="/species/{{ bicluster.network.species.short_name }}">{{ bicluster.network.species }}</a></td>
	    </tr>
	  </table>
	  <table>
	    <tr>
	      <th class="help">Residual</th>
	      <th>Genes</th>
	      <th>Conditions</th>
	    </tr>
	    <tr>
	      <td><a href="bicluster_residual">{{ bicluster.residual }}</a></td>
	      <td><a href="bicluster_genes">{{ gene_count }}</a></td>
	      <td><a href="bicluster_conditions">{{ conditions.count }}</a></td>
	    </tr>
	  </table>
	  <table>
	    <tr>
	      <th>Motif 1 Evalue</th>
	      <th>Motif 2 Evalue</th>
	    </tr>
	    <tr>
	      {% if motifs  %}
	      <td><a href="pssm_1">{{motifs.0.e_value}}</a></td>
	      <td><a href="pssm_2">{{motifs.1.e_value}}</td></a>
	      {% else %}
	      <td><a href="pssm_1">NA</a></td>
	      <td><a href="pssm_2">NA</td></a>
	      {% endif %}
	    </tr>
	  </table>
	  <table>
	    <tr>
	      <th>Regulators</th>
	      <th>Process</th>
	    </tr>
	    {% for influence in influences %}
	    <tr>
	      <td><a href="pssm_1">{{ influence.name }}</a></td>
	      <td><a href="pssm_1">{{ influence.type }}</a></td>
	    </tr>
	    {% endfor %}
	  </table>
	</div><!-- #sidebar -->
      </div>
      <div id="tab-network">
	{% include 'bicl_network_snippet.html' %}
      </div>
      <div id="tab-regulator">
	{% include 'bicl_regulator_snippet.html' %}
      </div>
      <div id="tab-motif">
	{% include 'bicl_motif_snippet.html' %}
      </div>
      <div id="tab-function">
	{% include 'bicl_functions_snippet.html' %}
      </div>
      <div id="tab-gene">
	{% include 'bicl_gene_snippet.html' %}
      </div>
      <!--
      <div id="tab-add-cart">
	add cart tab <br />
	...TO BE DONE...
      </div>
      -->
      <div id="tab-help">
	HELP tab
      </div>
    </div><!-- #top-tabs -->
  </div><!-- #post-top -->
</div><!-- #bicluster-top-->

{% endblock %}
