{% extends "base2.html" %}
{% block content %}
<div id="main">

{% if system %}
<h1>{{ system.display_name }}</h1>
<p>{{ system.linked_description|safe }}</p>

<ul>
  {% for function in system.top_level %}
  <li><a href="/function/{{ function.display_id }}/">{% if function.native_id %}{{ function.native_id }}, {% endif %}{{ function.name }}</a>
    {% if system.show_subcategories %}<ul>
      {% for child_function in function.child_functions %}
        <li><a href="/function/{{ child_function.display_id }}/">{% if child_function.native_id %}{{ child_function.native_id }}, {% endif %}
          {{ child_function.name }}</a></li>
      {% endfor %}
    </ul>{% endif %}
  </li>
  {% endfor %}
</ul>

<p><a href="/functions/">All functional systems</a></p>

{% else %}
<h1>Functions</h1>

<p>The Network Portal contains annotations from 4 systems of functional classification:</p>

<ul>
  <li><a href="/functions/go/">GO Gene Ontology</a></li>
  <li><a href="/functions/kegg/">KEGG Pathways</a></li>
  <li><a href="/functions/tigr/">TIGRFam</a></li>
  <li><a href="/functions/cog/">COG</a></li>
</ul>

{% endif %}
</div>
{% endblock %}
