<h3> Functional Enrichment for {{ gene }}</h3>
<p>
<div class="tab-contents">
{% if gene.functions.count %}
<b>{{ gene }}</b> is enriched for <b>{{ gene.functions.count }}</b> functions in <b>{{ function.type|length }}</b> categories.
<div class="main">
<table id="gene-function-table">
  <caption> Enrichment Table ({{ gene.functions.count }})</caption>
  <thead>
    <tr>
      <th>Function</th>
      <th>System</th>
    </tr>
  </thead>
  <tbody>
    {% for function in gene.functions.all %}
    <tr>
      <td><a href="/function/{{ function.id }}">{{ function.name }}</a></td>
      <td>{{ function.type }}/ {{ function.namespace}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% else %}
<p>no annotated functions...</p>
{% endif %}
</div>
