<h3> Regulon neighbourhood information for {{ gene }} </h3>

<p>Species: <a href="/species/{{ bicluster.network.species.short_name }}">{{ bicluster.network.species.name }}</a><br>
<b>{{ gene }}</b> has total of </b>{{ total_member_genes }}</a></b> gene neighbors in regulons <b>
{% for indv in gene.bicluster_set.all %}
<a href="/bicluster/{{ indv.id }}">{{ indv.id }}</a>, 
{% endfor %}</b>

<div id="main">
<table id="regulon-members-table">
  <caption> Regulon neighbours</caption>
  <thead>
    <tr>
      <th>Regulon</th>
      <th>Gene</th>
      <th>Description</th>
      <th>Regulon membership</th>
    </tr>
  </thead>
  <tbody>
    {% for bicl, genes in other_member_regulons.items %}
        {% for name, descr, bicls in genes %}
    <tr>
      <td>{{ bicl }}</td>
      <td><a href="/gene/{{ name }}">{{ name }}</a></td>
      <td>{{ descr }}</td>
      <td>
          {% for bicl in bicls %}
	    <a href="/bicluster/{{ bicl.id }}">{{ bicl.id }}</a>,
	  {% endfor %}
      </td>
    </tr>
        {% endfor %}
    {% endfor %}
  </tbody>
</table>
<br />
</div>
