{% load filters %}
<h3> Regulation information for {{ gene }} </h3> <span id="search_help">(Mouseover regulator name to see its description)</span> 
<p>
<div class="tab-contents">
  <script type="text/javascript">
    $(document).ready(function() {
        {{ influence_biclusters|influences_to_gene_description_map }};
        $('.reggene').live('mouseover', function(event) {
            var geneName = $(this).html();
            $(this).qtip({
                prerender: true,
                content: descriptionMap[geneName]
            }, event);
        });
    });
  </script>

<div id="main">
{% if influence_biclusters|length > 0 %}
<b>{{ gene }}</b> is regulated by <b>{{ influence_biclusters|length }}</b> influences and regulates <b>{{ regulated_biclusters|length }}</b> regulons.

<!--<b> {{ gene }}</b> is possibly regulated by <b>{{ influence_biclusters|length }}</b> influences.-->
  <table id="gene-regulators-table" class="gene-regulation" style="float: left;">
   <caption> Regulators for {{ gene }} ({{ influence_biclusters|length }})</caption>
    <tr>
      <th class="help">Regulator</th>
      <th>Regulon</th>
      <th>Operator</th>
      <!--<th>Regulator 2</th>
      <th>Description</th>
      <th>Mode</th>
      <th>Family</th>
      <th>Process</th>
      <th>Inferelator Weight</th>
      <th>Regulon</th>
      <th>Residual</th>
      <th>Genes</th>-->
    </tr>
    {% for bicluster_id, influence in influence_biclusters %}
    <tr>
      <td>{{ influence|format_influence }}</td>
      <td><a href="/bicluster/{{ bicluster_id }}">{{ bicluster_id }}</a></td>
      <td>{{ influence.type }}</td>
     <!-- <td><a href="regulon_modes"><font color="green">Repression</font></a></td>
      <td><a href="regulon_family">Fis</a></td>
      <td><a href="regulon_process">Pyruvate Oxidation</a></td>
      <td><a href="regulon_weight">-0.23</a></td>
      <td>{% for bicluster in bicluster %} {{ bicluster.resid }}{% endfor %}</td>
      <td>{{ bicluster.gene_count }}</td>-->
    </tr>
    {% endfor %}
  </table>
{% else %}
<div class="error_message">No regulators were found for {{ gene }}.</div>
{% endif %}
{% if regulated_biclusters|length > 0 %}
<a name="regulates"></a>
<!--<b> {{ gene }}</b> possibly regulates <b>{{ regulated_biclusters|length }}</b> regulons.-->
  <table class="gene-regulation" style="float: right;">
   <caption> Regulated by {{ gene }} ({{ regulated_biclusters|length }})</caption>
    <tr>
      <th>Regulon</th>
      <th>Residual</th>
      <th>Genes</th>
    </tr>
    {% for bicluster in regulated_biclusters %}
    <tr>
      <td><a href="/bicluster/{{bicluster.id}}">{{bicluster.id}}</a></td>
      <td>{{bicluster.residual}}</td>
      <td>{{bicluster.genes.count}}</td>
    </tr>
    {% endfor %}
   </table>
{% else %}
<table class="gene-regulation" style="float: right;">
   <caption> Regulated by {{ gene }} ({{ regulated_biclusters|length }})</capti\
on>
    <tr>
      <th>Regulon</th>
      <th>Residual</th>
      <th>Genes</th>
    </tr>
<tr>
    </tr>
   </table>

<div class="error_message" style="float: right;">{{ gene }} does not regulate any gene.</div>
{% endif %}

</div>
</div>
