{% extends "base2.html" %}{% load static %}{% get_static_prefix as STATIC_PREFIX %}
{% block title %}Network Portal - Gene {{ gene.name }}{% endblock %}
{% block cssspecial %}<link href="http://cdn.wijmo.com/jquery.wijmo-open.1.5.0.css" rel="stylesheet" type="text/css">{% endblock %}
{% block jsspecial %}<script type="text/javascript" src="{{ STATIC_PREFIX }}cytoscapeweb/js/AC_OETags.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}cytoscapeweb/js/cytoscapeweb.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/wwu_logo/isblogo.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/network_helpers.js"></script>
    <script type="text/javascript" src="http://cdn.wijmo.com/jquery.wijmo-open.1.5.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/protovis.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/visquick-min/vq.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/visquick-min/vq.circvis.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/visquick_helpers.js"></script>
    <!-- These are required for loading NCBI sequence viewer in gene page  -->
    <script type='text/javascript' src='http://www.ncbi.nlm.nih.gov/core/extjs/ext-3.4.0/adapter/ext/ext-base.js'></script>
    <script type='text/javascript' src='http://www.ncbi.nlm.nih.gov/core/extjs/ext-3.4.0/ext-all.js'></script>
    <script type="text/javascript"> window.sv_base_url = "sviewer/"</script>
    <link rel="stylesheet" type="text/css" href="http://www.ncbi.nlm.nih.gov/projects/sviewer/css/style.css" media="screen, projection, print"/>
    <script type="text/javascript" src="http://www.ncbi.nlm.nih.gov/projects/sviewer/js/main.js"/>
   
    {% endblock %}

{% block content %}<div id="bicluster-top">
  <div class="post-top">
    <div id="top-tabs">
      <ul id="gene-tab-links">
	<li><a class="name" href="#tab-main">{{ gene.name }}</a>|</li>
	<li><a class="network" href="#tab-network">Network</a>|</li>
	<li><a class="regulator" href="#tab-regulator">Regulators</a>|</li>
	<li><a class="motif" href="#tab-motif">Motifs</a>|</li>
	<li><a class="function" href="#tab-function">Functions</a>|</li>
	<li><a class="genes" href="#tab-gene">Regulon Members</a>|</li>
	{# <li><a class="cart" href="#tab-add-cart">Add to Cart</a>|</li> #}
	<li><a class="help" href="#tab-help">Help</a></li>
      </ul>
      <div id="tab-main">
        <script type="text/javascript">
          $(document).ready(function() {
              var circle_vis = new vq.CircVis();
              $.ajax({
                  url: '/json/circvis/?species=1&gene={{ gene.name }}',
                  success: function(json) {
                      var cvdata = vqhelpers.makeCircVisData('circvis', json.chromosomes,
                                                             json.genes, json.network);
                      circle_vis.draw(cvdata);
                  },
                  error: function() {
                      console.debug('could not read data');
                  }
              });
          });
        </script>
	<div id="main">
	  <h3>{{ gene.name }}</h3>
	  <p>
	    <!-- <img id="circvis" src="{{ STATIC_PREFIX }}images/circular.png" /> -->
            <div id="circvis">CircVis</div>
	  </p>

          <h3>Regulation</h3>
	  {% if influence_biclusters %}
          <table id="gene-regulation">
            <tr>
              <th class="help">Regulator</th>
              <th>Regulon</th>
              <th>Mode</th>
              <th>Family</th>
              <th>Process</th>
             <!-- <th>Inferelator Weight</th>-->
            </tr>
            {% for bicluster_id, influence in influence_biclusters %}
              <tr>
                <td>{% if influence.type == 'tf' %}<a href="/gene/{{ influence.gene.name }}">{{ influence.name }}</a>{% else %}{{ influence.name }}{% endif %}</td>
                <td><a href="regulon">{{ bicluster_id }}</a></td>
                <td><a href="regulon_modes"><font color="green">Repression</font></a></td>
                <td><a href="regulon_family">Fis</a></td>
                <td><a href="regulon_process">Pyruvate Oxidation</a></td>
               <!-- <td><a href="regulon_weight">-0.23</a></td>-->
              </tr>
             {% endfor %}

	      </table>

	  {% else %}
		<div id="error_message">
		  <p>
		  No regulatory information has been found!
		  </p>
		</div>
		{% endif %}
		

          <h3>Motifs</h3>
	  {% if motif %}
          <table>
            <tr>
	      <th class="help">Logo</th>
	      <th>Location</th>
	      <th>e-value</th>
	      <th>Motif match</th>
	      <th>Match e-value</th>
            </tr>
            <tr>
	      <td>
	        <a href="regulator_id">
	          <img src="{{ STATIC_PREFIX }}images/motif_0074-1.png" />
	        </a>
	      </td>
	      <td>-20</td>
	      <td>0.016</td>
	      <td><a href="moif_match">FNR</a></td>
	      <td>4.6e-08</td>
	    </tr>
          </table>
	   {% else %}
		<div id="error_message">
		  <p>
		  No motif information has been found!
		  </p>
		</div>
		{% endif %}
	    
          <h3>Genomic Neighborhood</h3>
	  <div id="genomic_context" class="SeqViewerApp">
	  <a href="?embedded=true&id={{ gene.geneid }}"></a>
          </div>
	<!-- <img src="{{ STATIC_PREFIX }}images/dvu0848_genome.png" />-->
	  Not yet implemented in this version of the portal!

        </div>{# main #}
        <div id="sidebar">
          <h4>Gene Info</h4>
          <p>
            <b> Organism: </b> <a href="/species/{{ gene.species.short_name }}">{{ gene.species.name }}</a><br/>
            <b> Locus tag: </b> {{ gene.name }} <br/>
            <b> Aliases: </b> <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?db=gene&term={{ gene.geneid }}">{{ gene.geneid }} (NCBI) </a>, <a href="http://microbesonline.org/cgi-bin/fetchLocus.cgi?locus=206275&disp=0">206275 (MicrobesOnline) </a><br/>
            <b> Gene Name: </b> <i> {% if gene.common_name %} {{ gene.common_name }} {% else %} N/A {% endif %}</i><br/>
          </p>

          <h4>Regulation</h4>
          <table>
            <tr>
              <th class="help">Regulons</th>
              <th>Regulators</th>
              <th>Conditions</th>
            </tr>
            {% if member_bicluster %}
            {% for bicluster in member_bicluster %}
            <tr>
              <td><a href="/bicluster/{{ bicluster.id }}">{{ bicluster.id }}</a></td>
              <td><a href="#">{{ bicluster.influences.count }}</a></td>
              <td><a href="#">{{ bicluster.conditions.count }}</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr><td colspan="3">Not assigned to any regulons</td></tr>
            {% endif %}
          </table>

          <h4>Functional Annotations</h4>
	  {% if gene.functions.count %}
	  <table id="gene-function-table">
	     <thead>
	      <tr>
		<th>Function</th>
		<th>System</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for function in gene.functions.all %}
	      <tr>
		<td><a href="/function/{{ function.id }}">{{ function.name }}</a></td>
		<td>{{ function.type }}, {{ function.namespace}}</td>
	     {% endfor %}
	      </tr>
	    </tbody>
	  </table>
	  
	  {% else %}
	  <div id="error_message">
	    No annotated functions !
	  </div>
	  {% endif %}
	</div>{# #sidebar #}
      </div>
      <div id="tab-network">
	{% include 'gene_network_snippet.html' %}
      </div>
      <div id="tab-regulator">
        {% include 'gene_regulation_snippet.html' %}
      </div>
      <div id="tab-motif">
	{% include 'bicl_motif_snippet.html' %}
      </div>
      <div id="tab-function">
	{% include 'gene_function_snippet.html' %}
      </div>
      <div id="tab-gene">
	{% include 'gene_member_snippet.html' %}
      </div>
      <!--
          <div id="tab-add-cart">
	  add cart tab <br />
	  ...TO BE DONE...
          </div>
      -->
      <div id="tab-help">
	HELP tab
      </div>
    </div>{# top-tabs #}
  </div>{# post-top #}
</div>{# bicluster-top #}
{% endblock %}
