<div id="main">
<script>
$(document).ready(function() { 
    $("#regulon-members-table") 
    .tablesorter({widthFixed: true, widgets: ['zebra']}) 
    {#.tablesorterPager({container: $("#tablepager")})#}; 
});
</script>
<h3> Regulon neighborhood information for {{ gene }} </h3>

{% if neighbor_genes|length > 0 %}
{% load filters %}
<b>{{ gene }}</b> has total of <b>{{ neighbor_genes|length }}</a></b> gene neighbors in regulons
<b>{{ gene.bicluster_set.all|bicluster_links }}</b>

<div class="gaggle-data hidden">
 <p>name=<span class="gaggle-name">Regulon neighbor genes</span><br />
    species=<span class="gaggle-species">{{species.name}}</span><br />
    (optional)size=<span class="gaggle-size">{{neighbor_genes|length}}</span><br />
    CSS selector=<span class="gaggle-namelist-tag">gaggle-gene-names</span></p>
</div>

<table id="regulon-members-table" class="tablesorter">
  <caption> Gene neighbors ({{ neighbor_genes|length }})</caption>
  <thead>
    <tr>
      <th>Gene</th>
      <th>Common Name</th>
      <th>Description</th>
      <th>Regulon membership</th>
    </tr>
  </thead>
  <tbody>
  {% for neighbor_gene in neighbor_genes %}
    <tr>
      <td><a href="/gene/{{ neighbor_gene.name }}"><span class="gaggle-gene-names">{{ neighbor_gene.name }}</span></a></td>
      <td>{{ neighbor_gene.common_name|default_if_none:"" }}</td>
      <td>{{ neighbor_gene.description }}</td>
      <td>{{ neighbor_gene.bicluster_set.all|bicluster_links }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<!--	<div id="tablepager" class="pager-block">
			<img src="{{ STATIC_PREFIX }}images/sort_first.gif" class="first"/>
			<img src="{{ STATIC_PREFIX }}images/sort_prev.gif" class="prev"/>
			<input type="text" class="pagedisplay"/>
		<img src="{{ STATIC_PREFIX }}images/sort_next.gif" class="next"/>
			<img src="{{ STATIC_PREFIX }}images/sort_last.gif" class="last"/>
			<select class="pagesize">
				<option selected="selected"  value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option  value="40">40</option>
			</select>
	</div>-->
	{% else %}
	<div class="error_message">
	  No regulon neighbours were found for {{ gene }}.
	</div>
	{% endif %}
</div>

	


