<img src="{{ STATIC_PREFIX }}images/network_gene.png" style="background:none;border:0px;position:relative;bottom:-10px;">Regulon member <img src="{{ STATIC_PREFIX }}images/network_regulator.png" style="background:none;border:0px;position:relative; bottom:-10px;">Regulator  <img src="{{ STATIC_PREFIX }}images/network_motif.png" style="background:none;border:0px;position:relative; bottom:-10px;">Motif


<script type="text/javascript">
  var vis;
      
      function showObject(obj) {
        var a = []
        for (key in obj) {
          a.push(key + "=" + obj[key]);
        }
        return a.join(", ")
      }

      function show_msg( options ){
          if (typeof(options)=="string") {
              options = {message: options}
          }
          var options = $.extend({
              type: "info",
              target: "#output",
              heading: "Message"
          }, options);
          var msg = $(  "<div class=\"" + options.type + "_screen screen\">\
                              <div class=\"notification\">\
                                  <div class=\"icon\"></div>\
                                  <div class=\"heading\">" + (options.heading || "") + "</div>\
                                  <div class=\"message\">" + (options.message || "") + "</div>\
                              </div>\
                         </div>");
          $(options.target).append(msg);
      }
          
      function pop_up(url, id) {

          $.ajax({
              url: url,
              success: function(html){
                  $("#pop_up").html(html);
                  uiDialogPopUpReady(id);
              },
              error: function(){
                  $("#pop_up").html("<p>Error!!</p>");
              }
          });
      }

      $(document).ready(function() {
        
          // id of Cytoscape Web container div
          var div_id = "cytoscapeweb";

          var bicluster_count = {{ gene.bicluster_set.count }};
          if (bicluster_count == 0) {
            $("#" + div_id).html("<p>No biclusters found for this gene.</p>")
            return;
          }

          // initialization options
          var options = {
              // where you have the Cytoscape Web SWF
              swfPath: "{{ STATIC_PREFIX }}cytoscapeweb/swf/CytoscapeWeb",
              // where you have the Flash installer SWF
              flashInstallerPath: "{{ STATIC_PREFIX }}cytoscapeweb/swf/playerProductInstall",
              flashAlternateContent: "Cytoscape Web network viewer requires Flash."
          };

          // init and draw
          vis = new org.cytoscapeweb.Visualization(div_id, options);

          // update gaggle data on selection events for the purpose of
          // broadcasting out lists of selected genes
          vis.addListener("select", "nodes", function(evt) {
              var selectedNodes = vis.selected("nodes");
          });
          
          node_click_listener = vis.addListener("click", "nodes", function(event) {
              var data = event.target.data;
              var url;
              if (data.type=='gene') {
                url = "/gene/" + data.id + "?format=html";
              }
              else if (data.type=='regulator') {
                if (data.name.indexOf("~~") < 0) {
                  url = "/gene/" + data.name + "?format=html"
                }
                else {
                  url = "/regulator/" + data.name + "?format=html"
                }
              }
              else if (data.type=='bicluster') {
                pattern = /bicluster:(\d+)/;
                id = pattern.exec(data.id)[1];
                url = "/bicluster/" + id + "?format=html";
              }
              else if (data.type=='motif') {
                pattern = /motif:(\d+)/;
                id = pattern.exec(data.id)[1];
                url = "/motif/" + id + "?format=html";
              }
              else {
                return;
              }

              $("#pop_up").wijdialog({
                  autoOpen: true,
                  title: event.target.data.name,
                  width: 600,
                  open: pop_up(url, id)
              });
          });

          var shapeMapper = {
              attrName: 'type',
              entries:  [ { attrValue: 'gene', value: 'ELLIPSE' },
                          { attrValue: 'bicluster', value: 'ROUNDRECT' },
                          { attrValue: 'regulator', value: 'TRIANGLE' },
                          { attrValue: 'motif', value: 'DIAMOND' } ]
          };
          
          var colorMapper = {
              attrName: 'type',
              entries:  [ { attrValue: 'gene', value: '#ccffcc' },
                          { attrValue: 'bicluster', value: '#f7f7f7' },
                          { attrValue: 'regulator', value: '#ffcccc' },
                          { attrValue: 'motif', value: '#ccccff'} ]
          }
          
          // visual style we will use
          var visualStyle = {
              global: {
                  backgroundColor: "#FFFFFF"
              },
              nodes: {
                  shape: { discreteMapper: shapeMapper },
                  label: { passthroughMapper: { attrName: "name" } },
                  color: { discreteMapper: colorMapper },
                  borderWidth: 2,
                  labelHorizontalAnchor: "center"
              },
              edges: {
                  width: {
                      defaultValue: 1,
                      continuousMapper: { attrName: "weight", minAttrValue:0.0, maxAttrValue:1.0, minValue: 1, maxValue: 12 }
                      //passthroughMapper: { attrName: "weight" }
                  },
                  color: "#0B94B1"
              }
          };

          $.ajax({
              url: "/network/graphml?gene={{ gene.name }}",
              success: function(data){
                  if (typeof data !== "string") { 
                      if (window.ActiveXObject) { // IE 
                          data = data.xml; 
                      }
                      else { 
                          data = (new XMLSerializer()).serializeToString(data); 
                      } 
                  }
                  vis.draw({network:data, visualStyle:visualStyle, layout:{name:'ForceDirected'}});
              },
              error: function(){
                  show_msg({
                      type: "error",
                      target:"#cytoscapeweb",
                      message: "The file you specified could not be loaded. url=" + options.url,
                      heading: "File not found",
                  });
              }
          });
	  initCanvas();
      });
  </script>
  <div id="cytoscapeweb">
    {% for bicluster in member_bicluster %}
      {{ bicluster.id }}
    {% endfor %}
    Cytoscape Web
  </div>
  <div id="pop_up">
    
  </div>
