{% extends "base2.html" %}
{% block title %}Network Portal - Genes for {{ species.name }}{% endblock %}
{% block content %}

<div id="main">
  <h1>Genes</h1>
  <p>species: <a href="/species/{{ species.short_name }}">{{ species.name }}</a><br>
  {% if filter == 'tf' %}
  transcription factors: {{ gene_count }}
  {% else %}
  genes: {{ gene_count }}
  {% endif %}
  </p>

  <table class="genes-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Common name</th>
        <th>Type</th>
        <th>Gene ID</th>
        <th>Chromosome</th>
        <th>Start</th>
        <th>End</th>
        <th>Strand</th>
        <th>Description</th>
        <th>TF</th>
      </tr>
    </thead>
    <tbody>
      {% for gene in genes %}
      <tr>
        <td><a href="/gene/{{ gene.name }}">{{ gene.name }}</a></td>
        <td>{{ gene.common_name|default_if_none:"" }}</td>
        <td>{{ gene.type }}</td>
        <td><a href="http://www.ncbi.nlm.nih.gov/gene/{{ gene.geneid }}">{{ gene.geneid }}</a></td>
        <td>{{ gene.chromosome.name }}</td>
        <td>{{ gene.start }}</td>
        <td>{{ gene.end }}</td>
        <td>{{ gene.strand }}</td>
        <td>{{ gene.description }}</td>
        <td>{{ gene.transcription_factor }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div><!-- End #main -->
{% endblock %}
