<h3> Comments/Notes for {{ gene }}</h3>
<div class="tab-contents">
<h3 id="comments">3 Responses</h4>

<ol class="commentlist">

  <li class="alt" id="comment-63">
    
    <cite>
      <img alt="" src="{{ STATIC_PREFIX }}images/gravatar.jpg" class="avatar" height="40" width="40" />
      <a href="index.html">Serdar</a> Says: <br />
      <span class="comment-data"><a href="#comment-63" title="">February 13th, 2012 at 8:08 am</a> </span>
      </cite>
    
    <div class="comment-text">
      <p>This gene is likely to be involved in oxidative phosphorylation and most probably regulated by sigma-dependent regulator <a href="/gene/DVU2275">DVU2275</a></p>
    </div>
    
    </li>

  <li id="comment-67">
    
    <cite>
      <img alt="" src="{{ STATIC_PREFIX }}images/gravatar.jpg" class="avatar" height="40" width="40" />
      Wei-Ju Says: <br />
      <span class="comment-data"><a href="#comment-67" title="">February 13th, 2012 at 2:17 pm</a> </span>
      </cite>
    
    <div class="comment-text">
      <p>I dont agree with you. There are some evidences from this <a href="#">publication</a> that this gene is involved in Sulfur metabolism</p>
    </div>

    </li>
  
  <li class="alt" id="comment-71">
    
    <cite>
      <img alt="" src="{{ STATIC_PREFIX }}images/gravatar.jpg" class="avatar" height="40" width="40" />
      <a href="index.html">Chris</a> Says: <br />
      <span class="comment-data"><a href="#comment-71" title="">February 13th, 2012 at 3:17 pm</a> </span>
      </cite>
    
    <div class="comment-text">
      <p>Our lab has already done experiments showing a possible role for this gene in sulfur metabolism and we identified it is regulated by <a href="/gene/DVU1745">DVU1745</a></p>
    </div>

    </li>
  
  </ol>
<h3 id="shares"> Shares</h3>
<ul class="history">
<li>
<img src="{{ STATIC_PREFIX }}images/Facebook-32.png" align="center">
<a href="#">Serdar</a> shared {{ gene }} with <a href="#">Wei-Ju</a> on <span class="comment-data"><a href="#comment-71" title="">February 13th, 2012 at 3:17 pm</a> </span>
</li>
<li>
<img src="{{ STATIC_PREFIX }}images/Twitter-32.png" align="center">
<a href="#">Chris</a> twitted "We identified the regulator for {{ gene }}" <span class="comment-data"><a href="#comment-71" title="">February 13th, 2012 at 3:17 pm</a> </span>
</li>
</ul>
<h3 id="respond">Leave a Reply</h3>
<a href="login">Login</a> or Connect with Facebook <a href="connect"><img src="{{ STATIC_PREFIX }}images/Facebook-32.png"></a>
</div>
