{% extends "base2.html" %}{% load static %}{% get_static_prefix as STATIC_PREFIX %}
{% block title %}Network Portal - Network View{% endblock %}
{% block cssspecial %}<link href="http://cdn.wijmo.com/jquery.wijmo-open.1.5.0.css" rel="stylesheet" type="text/css">{% endblock %}
{% block jsspecial %}<script type="text/javascript" src="{{ STATIC_PREFIX }}cytoscapeweb/js/AC_OETags.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}cytoscapeweb/js/cytoscapeweb.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/wwu_logo/isblogo.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/network_helpers.js"></script>
    <script type="text/javascript" src="http://cdn.wijmo.com/jquery.wijmo-open.1.5.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/protovis.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/visquick-min/vq.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/visquick-min/vq.circvis.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/visquick_helpers.js"></script>{% endblock %}
{% block content %}
<script type="text/javascript">
    var vis = null;
    function pop_up(url) {
        $.ajax({
            url: url,
            success: function(data){
                $("#pop_up").html(data);
            },
            error: function(){
                $("#pop_up").html("<p>Error!!</p>");
            }
        });
    }
 
    function filter_on() {
        if (vis) {
            vis.filter(null, function(edge) {
              return !edge.data.expanded;
            }, true);
        }
    }
      
    function expand() {
        if (vis) {
            vis.removeFilter(null);
        }
    }

    $(document).ready(function() {
        var expanded = false;
        $("#toggle_expand").click(function(event) {
            if (expanded) {
                filter_on();
                expanded = false;
            }
            else {
                expand();
                expanded = true;
            }
        });
        vis = nwhelpers.initAndLoadCytoscapeWeb("/network/graphml?biclusters={{ network.bicluster_ids|join:"," }}{{expand}}",
                                                "{{ STATIC_PREFIX }}cytoscapeweb/swf/CytoscapeWeb",
                                                "{{ STATIC_PREFIX }}cytoscapeweb/swf/playerProductInstall",
                                                nwhelpers.load_popup);
        vis.ready(function() {
            filter_on();
        });
    });
</script>
<div id="cytoscapeweb">Cytoscape Web</div>
<div id="pop_up"></div>
{% endblock %}