{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
<head>
  <title>{{ network.name }}</title>
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}stylesheets/ui-lightness/jquery-ui-1.8.14.custom.css">
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}stylesheets/main.css">  
  <link href="http://cdn.wijmo.com/jquery.wijmo-open.1.5.0.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/static/javascripts/jquery-1.5.1.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/jquery-ui-1.8.14.custom.min.js"></script>
  <script type="text/javascript" src="http://cdn.wijmo.com/jquery.wijmo-open.1.5.0.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/collapsing_divs.js"></script>
  <script type="text/javascript" src="/static/javascripts/main.js"></script>
  
  <!-- JSON support for IE (needed to use JS API) -->
  <script type="text/javascript" src="/static/cytoscapeweb/js/json2.min.js"></script>

  <!-- Flash embedding utility (needed to embed Cytoscape Web) -->
  <script type="text/javascript" src="/static/cytoscapeweb/js/AC_OETags.min.js"></script>

  <!-- Cytoscape Web JS API (needed to reference org.cytoscapeweb.Visualization) -->
  <script type="text/javascript" src="/static/cytoscapeweb/js/cytoscapeweb.min.js"></script>

  <style type="text/css">
      /* The Cytoscape Web container must have its dimensions set. */
      html, body { height: 100%; width: 100%; padding: 0; margin: 0; }
      #cytoscapeweb { width: 100%; height: 90%; }
  </style>

  <script type="text/javascript">
  
      var vis;
      
      function showObject(obj) {
        var a = []
        for (key in obj) {
          a.push(key + "=" + obj[key]);
        }
        return a.join(", ")
      }

      function show_msg( options ){
          if (typeof(options)=="string") {
              options = {message: options}
          }
          var options = $.extend({
              type: "info",
              target: "#output",
              heading: "Message"
          }, options);
          var msg = $(  "<div class=\"" + options.type + "_screen screen\">\
                              <div class=\"notification\">\
                                  <div class=\"icon\"></div>\
                                  <div class=\"heading\">" + (options.heading || "") + "</div>\
                                  <div class=\"message\">" + (options.message || "") + "</div>\
                              </div>\
                         </div>");
          $(options.target).append(msg);
      }
          
      function pop_up(url) {
          $.ajax({
              url: url,
              success: function(data){
                  $("#pop_up").html(data);
              },
              error: function(){
                  $("#pop_up").html("<p>Error!!</p>");
              }
          });
      }


      $(document).ready(function() {

          // id of Cytoscape Web container div
          var div_id = "cytoscapeweb";

          // initialization options
          var options = {
              // where you have the Cytoscape Web SWF
              swfPath: "/static/cytoscapeweb/swf/CytoscapeWeb",
              // where you have the Flash installer SWF
              flashInstallerPath: "/static/cytoscapeweb/swf/playerProductInstall",
              flashAlternateContent: "Cytoscape Web network viewer requires Flash."
          };

          // init and draw
          vis = new org.cytoscapeweb.Visualization(div_id, options);

          // update gaggle data on selection events for the purpose of
          // broadcasting out lists of selected genes
          vis.addListener("select", "nodes", function(evt) {
              var selectedNodes = vis.selected("nodes");
          });
          
          // vis.addListener("filter", "edges", function(evt) {
          //   $("#count_edges").html(vis.edges().length);
          // });
          
          // vis.addListener("deselect", "nodes", function(evt) {
          //     var nodes = evt.target;
          //     var result = []
          //     for (i in selectedNodes) {
          //       for (i in nodes) {
          //       
          //         if (nodes[i] == selectedNodes[j])
          //       }
          //     }
          // });
          
          node_click_listener = vis.addListener("click", "nodes", function(event) {
              var data = event.target.data;
              var url;
              if (data.type=='gene') {
                url = "/gene/" + data.id + "?format=html";
              }
              else if (data.type=='regulator') {
                if (data.name.indexOf("~~") < 0) {
                  url = "/network/" + {{network.id}} + "/gene/" + data.name + "?format=html";
                }
                else {
                  url = "/regulator/" + data.name + "?format=html";
                }
              }
              else if (data.type=='bicluster') {
                pattern = /bicluster:(\d+)/;
                id = pattern.exec(data.id)[1];
                url = "/bicluster/" + id + "?format=html";
              }
              else if (data.type=='motif') {
                pattern = /motif:(\d+)/;
                id = pattern.exec(data.id)[1];
                url = "/motif/" + id + "?format=html";
              }
              else {
                return;
              }

              $("#pop_up").wijdialog({
                  autoOpen: true,
                  title: event.target.data.name,
                  width: 600,
                  open: pop_up(url)
              });
          });

          var shapeMapper = {
              attrName: 'type',
              entries:  [ { attrValue: 'gene', value: 'ELLIPSE' },
                          { attrValue: 'bicluster', value: 'ROUNDRECT' },
                          { attrValue: 'regulator', value: 'TRIANGLE' },
                          { attrValue: 'motif', value: 'DIAMOND' } ]
          };
          
          var colorMapper = {
              attrName: 'type',
              entries:  [ { attrValue: 'gene', value: '#ccffcc' },
                          { attrValue: 'bicluster', value: '#f7f7f7' },
                          { attrValue: 'regulator', value: '#ffcccc' },
                          { attrValue: 'motif', value: '#ccccff'} ]
          }
          
          // visual style we will use
          var visualStyle = {
              global: {
                  backgroundColor: "#FFFFFF"
              },
              nodes: {
                  shape: { discreteMapper: shapeMapper },
                  label: { passthroughMapper: { attrName: "name" } },
                  color: { discreteMapper: colorMapper },
                  borderWidth: 2,
                  labelHorizontalAnchor: "center"
              },
              edges: {
                  width: {
                      defaultValue: 1,
                      continuousMapper: { attrName: "weight", minAttrValue:0.0, maxAttrValue:1.0, minValue: 1, maxValue: 12 }
                      //passthroughMapper: { attrName: "weight" }
                  },
                  color: "#0B94B1"
              }
          };

          $.ajax({
              url: "/network/graphml?biclusters={{ network.bicluster_ids|join:"," }}",
              success: function(data){
                  if (typeof data !== "string") { 
                      if (window.ActiveXObject) { // IE 
                          data = data.xml; 
                      }
                      else { 
                          data = (new XMLSerializer()).serializeToString(data); 
                      } 
                  }
                  vis.draw({network:data, visualStyle:visualStyle, layout:{name:'ForceDirected'}});
              },
              error: function(){
                  show_msg({
                      type: "error",
                      target:"#cytoscapeweb",
                      message: "The file you specified could not be loaded. url=" + options.url,
                      heading: "File not found",
                  });
              }
          });
          
      });
  </script>
</head>
<body>
  <div id="cytoscapeweb">
    Cytoscape Web
  </div>
  <div id="menu">
    <a href="/">home</a> | <a href="/search">search</a> | [controls to be added here or in sidebar]
  </div>
  <div id="pop_up">
    
  </div>
</body>
</html>
