{% extends "base2.html" %}
{% block title %}Network Portal - Networks for {{ network.species.name }}{% endblock %}
{% block content %}

<div class="main">
  <h1>{{ network.name }}</h1>

  <p>Species: <a href="/species/{{ network.species.name }}">{{ network.species.name }}</a></p>
  <p>Data source: {{ network.data_source }}</p>

  <p>What other network info do we need? link to PDF/SVG of cMonkey stats?</p>

  <table>
    <caption>a list of biclusters in the network</caption>
    <thead>
      <tr>
        <th>k</th>
        <th>genes</th>
        <th>residual</th>
      </tr>
    </thead>
    <tbody>
      {% for bicluster in biclusters %}
      <tr>
        <td><a href="/bicluster/{{ bicluster.id }}">{{ bicluster.k }}</a></td>
        <td>{{ bicluster.genes.count }}</td>
        <td>{{ bicluster.residual }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <table>
    <thead>
      <tr>
        <th>Influences</th>
      </tr>
    </thead>
    <tbody>
      {% for tf in network.species.transcription_factors %}
      <tr>
        <td><a href="/network/{{ network.id}}/regulated_by/{{ tf.name }}">{{ tf.display_name }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div><!-- End #main -->
{% endblock %}
