{% extends "base2.html" %}
{% block title %}Network Portal - Available Species{% endblock %}
{% block content %}
<div id="main">
  <h5>Species</h5>
  <table>
    <caption>A list of species in the Network Portal database</caption>
    <thead>
      <tr>
	<th>Org code</th>
        <th>Species</th>
        <th>Taxonomy id</th>
	<th>Genes </th>
	<th>Regulators </th>
	<th>Version info</th>
      </tr>
    </thead>
    <tbody>
      {% for sp in species %}
      <tr>
	<td><a href="/species/{{ sp.short_name }}">{{ sp.short_name }}</a></td>
        <td><i><a href="/species/{{ sp.name }}">{{ sp.name }}</a></i></td>
        <td><a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ sp.ncbi_taxonomy_id }}">{{ sp.ncbi_taxonomy_id }}</a>(NCBI)</td>
	<td><a href="/genes/{{ sp.short_name }}">{{ sp.gene_set.count }}</a></td>
	<td><a href="/genes/{{ sp.short_name }}?filter=tf">{{ sp.transcription_factors|length }}</a></td>
	{% for st in network %}
	{% if st.species_id == sp.id %} 
	<td><a href="/species/{{ sp.short_name }}">{{st.version_id }}</a>
	  {% endif %}
	  {% endfor %} </td>
	
      </tr>
      {% endfor %}
     </tbody>
  </table>
</div><!-- End #main -->
{% endblock %}
