<div id="page">
  <div id="content">
    <h1>Function Analysis View</h1>

    <div id="function-tabs">
      <ul>
	<li><a href="#function-1">Transcription initiation</a></li>
	<li><a href="#function-2">Oxidative stress</a></li>
      </ul>

      <div id="function-1">
	<div id="summary">
	  <span id="showhide_summary-list" class="expanded showhide summary-title"><span id="item-title">Function:</span></span>
	  <div id="summary-list">
	    stuff
	  </div>
	</div><!-- #summary -->
	<br/>
	<div id="related">
	  <span id="showhide_related-list" class="collapsed showhide related-title"><span id="item-title">Homology:</span></span>
	  <div id="related-list">
	    <div id="related-tabs">
	      <ul>
		<li><a href="#tab-1">RNA biosyntetic process GO:0032774</a></li>
		<li><a href="#tab-2">RNA metabolic process</a></li>
	      </ul>
	      <div id="tab-1">
		stuff 1
	      </div>
	      <div id="tab-2">
		stuff 2
	      </div>
	    </div>
	  </div>
	</div><!-- #related -->
	<br/>
	<div id="gene-function">
	  <span id="showhide_gene-function-list" class="collapsed showhide gene-function-title"><span id="item-title">Interaction:</span></span>
	  <div id="gene-function-list">
	    <div id="gene-function-tabs">
	      <ul>
		<li><a href="#tab-3">All genomes</a></li>
		<li><a href="#tab-4">H.salinarum genes</a></li>
	      </ul>
	      <div id="tab-3">
		stuff 3
	      </div>
	      <div id="tab-4">
		stuff 4
	      </div>
	    </div>
	  </div>
	</div><!-- #gene-function -->
	<br/>
	<div id="network">
	  <span id="showhide_network-list" class="collapsed showhide network-title"><span id="item-title">Network:</span></span>
	  <div id="network-list">
	    <div id="network-tabs">
	      <ul>
		<li><a href="#tab-5">112 bicluster</a></li>
		<li><a href="#tab-6">37 bicluster</a></li>
	      </ul>
	      <div id="tab-5">
		stuff 5
	      </div>
	      <div id="tab-6">
		stuff 6
	      </div>
	    </div>
	  </div>
	</div><!-- #network -->

      </div><!-- END FUNCTION -->

      <div id="function-2">      
	testing
      </div><!-- END FUNCTION -->

    </div><!-- END FUNCTION-TABS -->

    <p><a href="/search_form">new search</a>&nbsp;<a href="/">home</a></p>

  </div><!-- End #content -->
</div><!-- End #page -->
