<div id="page">
  <div id="content">
    <h1>Motif Analysis View</h1>

    <div id="gene-tabs">
      <ul>
	<li><a href="#gene-1">Motif 1</a></li>
	<li><a href="#gene-2">Motif 2</a></li>
      </ul>

      <div id="gene-1">
	<div id="function">
	  <span id="showhide_function-list" class="expanded showhide function-title"><span id="item-title">Some Motif Stuff:</span></span>
	  <div id="function-list">
	    stuff
	  </div>
	</div><!-- #function -->
	<br/>
	<div id="homology">
	  <span id="showhide_homology-list" class="collapsed showhide homology-title"><span id="item-title">More Motif Stuff:</span></span>
	  <div id="homology-list">
	    <div id="homology-tabs">
	      <ul>
		<li><a href="#tab-1">tfb1 (H.marismortui)</a></li>
		<li><a href="#tab-2">tfb7 (H.volcanii)</a></li>
	      </ul>
	      <div id="tab-1">
		stuff 1
	      </div>
	      <div id="tab-2">
		stuff 2
	      </div>
	    </div>
	  </div>
	</div><!-- #homology -->
	<br/>
	<div id="interaction">
	  <span id="showhide_interaction-list" class="collapsed showhide interaction-title"><span id="item-title">Additional Motif Info:</span></span>
	  <div id="interaction-list">
	    <div id="interaction-tabs">
	      <ul>
		<li><a href="#tab-3">tbpC protein-protein</a></li>
		<li><a href="#tab-4">tfbC genetic</a></li>
	      </ul>
	      <div id="tab-3">
		stuff 3
	      </div>
	      <div id="tab-4">
		stuff 4
	      </div>
	    </div>
	  </div>
	</div><!-- #interaction -->
	<br/>
	<div id="network">
	  <span id="showhide_network-list" class="collapsed showhide network-title"><span id="item-title">Even More Motif Stuff:</span></span>
	  <div id="network-list">
	    <div id="network-tabs">
	      <ul>
		<li><a href="#tab-5">tbpC protein-protein</a></li>
		<li><a href="#tab-6">tfbC genetic</a></li>
	      </ul>
	      <div id="tab-5">
		stuff 5
	      </div>
	      <div id="tab-6">
		stuff 6
	      </div>
	    </div>
	  </div>
	</div><!-- #network -->

      </div><!-- END GENE -->

      <div id="gene-2">      
	testing
      </div><!-- END GENE -->

    </div><!-- END GENE-TABS -->

    <p><a href="/search_form">new search</a>&nbsp;<a href="/">home</a></p>

  </div><!-- End #content -->
</div><!-- End #page -->
