<!DOCTYPE html>
<html>
<head>
  <title>Network Portal</title>
</head>
<body>
  <h1>About the Network Portal</h1>
  <p>version: 0.1.1</p>
  <p>The Network Portal is a database of gene transcription regulatory networks, 
    enabling exploration, annotation and comparative analysis...</p>
  <p>Credits, Tools, Source, etc.</p>

  <h2>Credits</h2>
  <p>...</p>

  <h2>Tools</h2>
  <p>...</p>

  <h2>Source</h2>
  <p>...</p>

  <p><a href="/">home</a>
    | <a href="http://systemsbiology.org">Institute for Systems Biology</a>
    | <a href="http://baliga.systemsbiology.net">Baliga Lab</a></p>

</body>
</html>
