{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!-- THIS TEMPLATE BASE IS FOR A PAGE THAT HAS NO SIDEBAR; 
     IT DOESN'T HAVE A VERTICAL LINE DOWN THE MIDDLE OF #CONTENT 
     WHICH IS DUE TO wrap.gif -->
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/javascript; charset=UTF-8" />
<html>
<head>
  <title>{% block title %}Network Portal{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}stylesheets/portal-style.css">  
  <link href="http://cdn.wijmo.com/jquery.wijmo-open.1.5.0.css" rel="stylesheet" type="text/css" />
  {% endblock %}
  {% block jscommon %}
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}cytoscapeweb/js/json2.min.js"></script>
  {% endblock %}
  {% block jsspecial %}
  {% endblock %}
  <script type="text/javascript" src="http://cdn.wijmo.com/jquery.wijmo-open.1.5.0.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/wwu_logo/isblogo.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/main.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}javascripts/collapsing_divs.js"></script>
</head>

<body>
  {% block basewrap %}
  <div id="wrap-no-line">
  {% endblock %}
    <div id="header">
      <h1 id="logo-text"></h1>
      <p id="slogan"></p>
      <div id="underlinemenu" class="underlinemenu">
	<ul>
	  <li><a href="/about">About</a></li>
	  <li><a href="/contact">Contact</a></li>
	  <!-- <li><a href="login" id="selected">Login</a></li> -->
	</ul>
      </div>
    </div>{# end header #}

    {% load nav_tags %}
    <div id="nav">
      <ul>
        <li class="{% active request "^/$" %}"><a href="/">Home</a></li>
        <li class="{% active request "^/search" %}"><a href="/search">Search</a></li>
        <li class="{% active request "^/species" %}"><a href="/species">Species</a></li>
        <li class="{% active request "^/function" %}"><a href="/functions/">Function</a></li>
        <li class="{% active request "^/networks" %}"><a href="/networks/">Networks</a></li>
        <li class="{% active request "^/analysis/gene" %}"><a href="/analysis/gene">Analysis Example</a></li>
      </ul>
    </div>{# end nav #}

    <div id="content">
      {% block content %}
      
      {% endblock %}
    </div>{# content #}
    <div id="footer">
      {% block footer %}
      <p>
	&copy; <a href="http://baliga.systemsbiology.net/" title="Baliga Lab">Baliga Lab</a>
        | <a href="http://systemsbiology.org" title="ISB">Institute for Systems Biology</a>
        | <a href="/">Home</a></p>
      {% endblock %}
    </div>{# end footer #}
  </div>{# end wrap #}
</body>
</html>
