{% extends "base.html" %}
{% block title %}Network Portal - Contact{% endblock %}
{% block content %}

<div class="main">
  <h5>Contacts</h5>
<p>
  <span class="code"> The Network Portal is being developed by Baliga Lab at Institute for Systems Biology</span></p>
  <table>
    <caption> Principal Investigator</caption>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>E-mail</th>
    </tr>
    <tr>
      <td> <a href="http://www.systemsbiology.org/Scientists_and_Research/Faculty_Groups/Baliga_Group/Profile">Nitin Baliga</a></td>
      <td>206-732-1266</td>
      <td>401 Terry Ave N
	Seattle, WA 98109</td>
      <td>Nitin.Baliga@systemsbiology.org</td>
</table>
<table>
  <caption> Developers</caption>
    <tr>
      <th> Name</th>
      <th>E-mail</th>
    </tr>
    <tr>
      <td> <a href="http://baliga.systemsbiology.net/drupal/users/cbare">Christopher Bare</a></td>
      <td>cbare@systemsbiology.org</td>
    </tr>
    <tr>
      <td> <a href="http://baliga.systemsbiology.net/drupal/users/kfoley">Karen Foley</a></td>
      <td>kfoley@systemsbiology.org</td>
    </tr>
    <tr>      
      <td> <a href="http://baliga.systemsbiology.net/drupal/users/wwu">Wei-Ju Wu</a></td>
      <td>wwu@systemsbiology.org</td>
    </tr>
    <tr>  
      <td> <a href="http://baliga.systemsbiology.net/drupal/users/sturkarslan">Serdar Turkarslan</a></td>
      <td>sturkarslan@systemsbiology.org</td>
    </tr>

</table>



</div><!-- End #main -->
{% endblock %}
