{% extends "base2.html" %}
{% block title %}Network Portal - Help {% endblock %}
{% block cssspecial %}<link rel="stylesheet" href="{{ STATIC_PREFIX }}stylesheets/redmond/jquery-ui-1.8.16.custom.css">{% endblock %}
{% block content %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<div id="main" class="sub-page">
  <h5>Help</h5>
  How to use Network Portal?
  <h5>Searching</h5>
  How to use Search function?
  <h5> Regulon View</h5>
  How to use Regulon view
  <h5> Gene View </h5>

</div><!-- End #main -->
{% endblock %}
