{% extends "base2.html" %}
{% block title %}Network Portal - Welcome{% endblock %}
{% block content %}

<script type="text/javascript">
$(function() {
    function log(message) {
             $("<div />").text(message).prependTo("#log");
             $("#log").scrollTop(0);
    }

    $("#query").autocomplete({
        source: function( request, response ) {
                                 console.debug("term: " + request.term);
                $.ajax({
                        url:      "http://localhost:8983/solr/suggest/?wt=json&json.wrf=?",
                        dataType: "jsonp",
                        data: { q: request.term
                        },
                        success: function( data ) {
                                 //console.debug("data: " + data.toSource());
                                 response( $.each(data.spellcheck['suggestions'][1]['suggestion'], function(key, value) {
                                              //console.debug("key 1: " + key);
                                              //console.debug("val 1: " + value);
				}));
                        }
                });         

        },
        minLength: 1,
        select: function (event, ui) {
		console.debug("log event, ui: " + ui.item.label);
                $("#query").val(ui.item.label);
		log (ui.item.label ?
                       "Selected: " + ui.item.label :
                       "Nothing selected, input was " + this.value);
        }
    });

    $(document).ready(function() {
      $("#example1").click(function(event) {
        $("#query").val($("#example1").text());
      });
    });
    $(document).ready(function() {
      $("#example2").click(function(event) {
        $("#query").val($("#example2").text());
      });
    });
});
</script>
<div id="main">
  <h5>Welcome to Network Portal  <img src="{{ STATIC_PREFIX }}images/logo_small.png" title="this is a image title" style="background:none;border:0px;position:relative; float:right;"></h5>
<p> Network Portal provides analysis and visualization tools for selected gene regulatory networks to aid researchers in biological discovery and hypothesis development. [<a href="/about"> ..read more</a>]  
</p>

<h5>Method</h5> 
<p> Network Portal integrates identification of conditionally co-regulated group of genes by using <a href="http://baliga.systemsbiology.net/cmonkey">cMonkey</a> and inference of regulatory influences by using <a href="http://baliga.systemsbiology.net/drupal/content/inferelator">Inferelator</a>. In addition, it is integrated with <a href="http://microbesonline.org">MicrobesOnline</a> for genomic information and <a href="http://regprecise.lbl.gov/RegPrecise">RegPrecise</a> for collection of manually curated regulatory inferences. [<a href="/about"> ..read more</a>]
</p>

<h5>Data Sources</h5>
<a href="http://microbesonline.org"><img height=30 src="{{ STATIC_PREFIX }}images/microbesOnline150.gif"></a>
<a href="http://regprecise.lbl.gov/RegPrecise/"><img height=30 src="{{ STATIC_PREFIX }}images/regprecise.gif"></a>
<a href="http://www.ncbi.nlm.nih.gov/"><img height=30 src="{{ STATIC_PREFIX }}images/ncbi.gif"></a>
<a href="http://www.genome.jp/kegg/"><img height=30 src="{{ STATIC_PREFIX }}images/kegg.gif"></a>
<a href="http://www.geneontology.org/"><img height=30 caption="go" src="{{ STATIC_PREFIX }}images/go.jpg"></a>
<p></p>

 <h5> Developed by </h5>
   
<a href="http://systemsbiology.org">  <img  height=60 style="background:none;border:0px; position:relative; bottom:-10px;" src="{{ STATIC_PREFIX }}images/isb.gif"></a>
<a href="http://baliga.systemsbiology.net">  <img  height=60 style="background:none;border:0px;" src="{{ STATIC_PREFIX }}images/baliga.png"></a>

<!-- Begin Search Box --
  <div id="facet-display">
  <h5>Quick Search</h5>
  <span id="search_help">(Start typing keywords, press ESC to close suggestions)</span>
  <form action="/search/" method="get">
    <ul id="qsearch">
      <input type="text" id="query" name="q">
      <input type="submit" value="Search">
    </ul>
  </form>

  <p><b>Example 1: </b><span id="example1">DVU0848 DVU0694 DVU0693 DVU0778 DVU0846</span>
    <span id="search_help">(Click to add)</span></p>    
  <p><b>Example 2: </b><span id="example2">thioredoxin, oxidative</span>
    <span id="search_help">(Click to add)</span></p>
  </div>
-- End Search Box -->
</div><!-- End #main -->

<div id="sidebar">
  <h3>Quick Search</h3>
<span id="search_help">(Start typing keywords, press ESC to close suggestions)</span>
  <form id="qsearch" action="/search/" method="get">
      <input class="tbox" type="text" id="query" name="q" value="{{ q }}">
      <input class="btn" type="image" name="searchsubmit" value="Search" src="{{STATIC_PREFIX}}images/search.gif">
  </form>

  <h3>Statistics</h3>
  <table>
    <tr>
      <th>Species</th>
      <th>Networks</th>
      <th>Version</th>
    </tr>
    <tr>
      <td><a href="/species/">{{ sp_count }}</a></td>
      <td><a href="/networks/">{{ net_count }}</a></td>
      <td> {{ version }}</td>	  
    </tr>
    <tr>
      <th>Regulons</th>
      <th>Regulators</th>
      <th>Motifs</th>
    </tr>
    <tr>
      <td>{{ bicl_count }}</td>
      <td>{{ influence_count }}</td>
      <td>{{ motif_count }}</td>
    </tr>
  </table>

  <h3>What's New</h3>
  <ul class="sidemenu">
    <li> 
      This version of Network Portal includes 3 organisms
    </li>
    <li>
     Regulon functional enrichments from KEGG, GO, COG and TIGRFam are now implemented 
    </li>
  </ul>

 <h3>Coming Soon</h3>
  <ul class="sidemenu">
    <li> 
      New organisms; E. coli, Leishmania, H. pylori and more...
    </li>
    <li>
     New Circular Regulon visualizer
    </li>
  </ul>
</div><!-- end #sidebar -->
{% endblock %}
