{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
$(function() {
    function log(message) {
             $("<div />").text(message).prependTo("#log");
             $("#log").scrollTop(0);
    }

    $("#query").autocomplete({
        source: function( request, response ) {
                                 console.debug("term: " + request.term);
                $.ajax({
                        url:      "http://localhost:8983/solr/suggest/?wt=json&json.wrf=?",
                        dataType: "jsonp",
                        data: { q: request.term
                        },
                        success: function( data ) {
                                 //console.debug("data: " + data.toSource());
                                 response( $.each(data.spellcheck['suggestions'][1]['suggestion'], function(key, value) {
                                              //console.debug("key 1: " + key);
                                              //console.debug("val 1: " + value);
				}));
                        }
                });         

        },
        minLength: 1,
        select: function (event, ui) {
		console.debug("log event, ui: " + ui.item.label);
                $("#query").val(ui.item.label);
		log (ui.item.label ?
                       "Selected: " + ui.item.label :
                       "Nothing selected, input was " + this.value);
        }
    });

    $(document).ready(function() {
      $("#example1").click(function(event) {
        $("#query").val($("#example1").text());
      });
    });
});
</script>


<div id="main">
  <div id="facet-display">
  <h2>Search</h2>
  <span id="search_help">(press ESC to close suggestions)</span>
  <form action="/search/" method="get">
    <ul id="search">
      <input type="text" id="query" name="q">
      <input type="submit" value="Search">
    </ul>

  </form>

  <p>Example: <span id="example1">DVU1309 DVU1310 DVU1320 DVU1324 DVU1325</span></p>    
  </div>
</div><!-- End #main -->
<div id="sidebar">
  <h3>About</h3>
  <p><strong>Network Portal</strong> aims to provide a comprehensive resource for analyzing and visualizing biological networks.
  Network Portal was developed in <a href="http://baliga.systemsbiology.net/">Baliga Lab</a> at
  <a href="http://systemsbiology.org">Institute for Systems Biology</a>.<br><a href="/about">...read more</a></p>

  <h3>Portal News</h3>
  <ul class="sidemenu">
    <li>
      <a href="/species/1">New species available<br />
	<span>D. vulgaris hildenborough
	</span>
      </a>
    </li>
    <li>
      <a href="/network/1">New network available<br />
	<span>D. vulgaris Network is now available
	</span>
      </a>
    </li>
  </ul>
  
  <h3>Portal Statistics</h3>
  <table>
    <tr>
      <th>Species</th>
      <th>Networks</th>
      <th>Users</th>
    </tr>
    <tr>
      <td><a href="/species/">{{ sp_count }}</a></td>
      <td><a href="/networks/">{{ net_count }}</a></td>
      <td><a href="users.html">5</a></td>	  
    </tr>
    <tr>
      <th>Regulons</th>
      <th>Regulators</th>
      <th>Motifs</th>
    </tr>
    <tr>
      <td><a href="biclusters.html">{{ bicl_count }}</a></td>
      <td><a href="regulators.html">29</a></td>
      <td><a href="motifs.html">{{ motif_count }}</a></td>
    </tr>
  </table>
</div><!-- end #sidebar -->
{% endblock %}
