{% extends "base.html" %}
{% block content %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<script type="text/javascript">
$(function() {
    function log(message) {
             $("<div />").text(message).prependTo("#log");
             $("#log").scrollTop(0);
    }

    $("#artist").autocomplete({
        source: function( request, response ) {
                $.ajax({
                        //url:      "http://localhost:8983/solr/select/?wt=json&json.wrf=?",
                        url:      "http://localhost:8983/solr/suggest/?wt=json&json.wrf=?",
                        dataType: "jsonp",
                        data: { q: request.term
                                //terms: true,
                                //qt: "testAutoComplete",
                                //'terms.prefix': request.term,
                                //'terms.fl': "name_auto"
                        },
                        success: function( data ) {
                                 response( $.each(data.spellcheck['suggestions'][1]['suggestion'], function(key, value) {
                                              //console.debug("key 1: " + key);
                                              //console.debug("val 1: " + value);
				}));
                        }
                });         

        },
        minLength: 1,
        select: function (event, ui) {
		console.debug("log event, ui: " + ui.item.label);
		log (ui.item.label ?
                       "Selected: " + ui.item.label :
                       "Nothing selected, input was " + this.value);
        }
    });

});
</script>

<div id="page">
  <div id="content">
    <div class="demo">

      <div class="ui-widget">
	<label for="artist">Genes: </label>
	<input id="artist" />
      </div>
      
      <div class="ui-widget" style="margin-top:2em; font-family:Arial">
	Result:
	<div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
      </div>
      
    </div><!-- End demo -->
  </div>
</div>
<!--<div id="page">
  <div id="content">
-->
    <!--<h1>Network Portal</h1>-->
<!--    <h1>Search</h1>
    <form action="/search/" method="get">
      <input type="text" name="q">
      <input type="submit" value="Search">
    </form>
    
    {% if results %}
    <h3>Search Results</h3>
    <p>Found {{ results|length }} results for "{{ q }}".</p>
    <ul>
      {% for result in results %}
      <li><a href="/bicluster/{{ result.bicluster_id }}">bicluster {{ result.bicluster_id }}</a></li>
      {% endfor %}
      <li><a href="/network/test/">test network</a></li>
    </ul>
    <p><a href="/network?biclusters={{ bicluster_ids|join:"," }}">view network</a></p>
    {% endif %}

  </div>--><!-- End #content -->
<!--</div>--><!-- End #page -->

{% endblock %}
