{% extends "base2.html" %}
{% block content %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<div id="main" class="sub-page">
  <div class="ui-widget">
    <h1>Search</h1>
    <form action="/search/" method="get">
      <textarea rows="4" cols="60" name="q" id="search_box"></textarea>
      <input type="submit" value="Search">
    </form>
    <p>Example: <span id="example1">DVU1309 DVU1310 DVU1320 DVU1324 DVU1325</span></p>	
  </div>
  <div id="search-results">

    {% if q %}
    <h3>Search Results</h3>
    <p><b>Genes</b> / <b>Networks</b> / <b>Functions</b> / <b>Motifs</b> / <b>Species</b></p>

    {% if results %}
    <p>Found {{ results|length }} results for "{{ q }}".</p>
    <p><b>Genes</b></p>
    <ul>
      {% for result in genes %}
      <li><a href="/gene/{{ result.gene_name }}">{{ result.gene_name }}</a></li>
      {% endfor %}
    </ul>
    {% if biclusters %}
    <p><b>Biclusters</b></p>
    <ul>
      {% for result in biclusters %}
      <li><a href="/bicluster/{{ result.bicluster_id }}">bicluster {{ result.bicluster_id }}</a></li>
      {% endfor %}
    </ul>
    <p><a href="/network?biclusters={{ bicluster_ids|join:"," }}">view network for these {{ bicluster_ids|length }} biclusters</a></p>
    {% endif %}
    {% else %}
    <p>No results for query &ldquo;{{ q }}&rdquo;</p>
    {% endif %}
    {% endif %}
    <!--</div>-->
  </div>
  <!-- </div><!-- End demo -->
</div><!-- End #main -->
{% endblock %}
