body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Helvetica Neue", "Arial", "Helvetica", "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

h1 {
  font-size: 28px;
  color: #000;
}

a  {
    color: #03c
}

/*a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}*/

#page {
  background-color: #f0f0f0;
  width: 1050px;
  margin: 0;
  margin-top: 10px;
  margin-left: 100px; /*auto;*/
  margin-right: auto;
}

#content {
  float: left;
  background-color: white;
  border: 3px solid #aaa;
  padding: 25px;
  width: 850px;
}

#sidebar {
  /*float: right; */
  width: 175px;
}

#footer {
  clear: both;
  color: #aaa;
  font-size: small;
  padding-top: 36pt;
  text-align: center;
  margin-left: -150px;
}

#footer a {
  color: #aaa;
  text-decoration: none;
}
#footer a:hover {
  color: #aaa;
  background-color: #f0f0f0;
  text-decoration: none;
}


#header, #place-holder {
  padding-left: 75px;
  padding-right: 30px;
}

#header {
  background-image: url("/images/network_portal_logo.png");
  background-repeat: no-repeat;
  background-position: top left;
  height: 64px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

#header h1, #header h2 {margin: 0}
#header h2 {
  color: #888;
  font-weight: normal;
  font-size: 16px;
}

#inner-left {
    float: left;
    width: 200px;
}

#inner-middle {
    width: 200px;
    left: 200px;
}

#inner-right {
    float: right;
    width: 200px;
}

#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}
#sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#sidebar li {
  list-style-type: none;
}
#sidebar ul.links li {
  margin-bottom: 5px;
}

#place-holder li {
  margin-top: 12pt;
}

#portal-tabs {
    /*width: 500px;*/
}

#gene-group-1, #gene-group-2, #bicluster-group-1, #bicluster-group-2, #organism-group-1, #organism-group-2 {
    display: table;
}

#motif-group-1, #motif-group-2  {
    display: table;
    width: 100%;
}

#gene-results, #network-results, #function-results, #motif-results {
    padding-left: 10px;
}

#organism, #match-count, #function, #motif {
    display: table-cell;
    width: 110px;
    padding-right: 20px;
}

.homology-title, .interaction-title, .network-title, .summary-title, .related-title, .gene-function-title, .function-title {
    width: 170px;
}

#gene-view, #network-view, #function-view, #motif-view {
    display: table-cell;
    width: 100px;
}

#add-to-cart {
    padding-left: 20px;
}

#organism {
    text-align: left;
    vertical-align: bottom;
}

#match-count, #gene-view, #add-to-cart, #network-view, #function-view, #motif-view {
    text-align: center;
    vertical-align: top;
}

#function-results, #motif-results, #organism.title {
    text-align: center;
}

#add-to-cart {
    display: table-cell;
    width: 100px;
}

.title, #match-count.title, #add-to-cart.title {
    text-decoration: underline;
    vertical-align: bottom;
}

.row-item, #organism.row-item {
    vertical-align: top;
}

.gene-title, .bicluster-title {
    vertical-align: top;
}

#icon {
    display: table;
    margin-left: 35px;
}

#cell-item {
    display: block;
    height: 30px;
}

.motif-title {
    width: 110px;
}

#organism-match {
    display: table-cell;
    width: 200px;
}

#motif-results #organism, #motif-results #motif-view {
    padding-left: 20px;
}

span.gene-title, span.bicluster-title, span.organism-title, span.motif-title, span.function-title, span.homology-title, span.interaction-title, span.network-title, span.summary-title, span.related-title, span.gene-function-title {
    display: block;
    /*text-align: right;*/
    max-width: 100%;
}

.expanded {
    background: url("../images/portal_icons/down_arrow.png") no-repeat;
    height: 27px;
}

.collapsed {
    background: url("../images/portal_icons/right_arrow.png") no-repeat;    
    height: 27px;
}

#organism-list {
    display: table-cell;
    width: 150px;
    text-align: left;
}

#count-list {
    display: table-cell;
    width: 50px;
    text-align: left;
}

#name, #count {
    display: table-cell;
}

#subhead {
    height: 35px;
    margin: 0px;
}

#name #subhead, #count #subhead {
    padding-left: 10px;
    padding-right: 10px;
}

#item-title {
    padding-left: 25px;
}
