<div id="page">
  <div id="content">
    <h1>Network</h1>
    <p>app/views/network/index.html.erb</p>

    <img src="/images/network.png"></img>

    <p><a href="/search_form">new search</a>&nbsp;<a href="/">home</a></p>
  </div>
</div><!-- End #page -->
