{% block content %}
    <h2>Search</h2>

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Results</h3>

		  {{ page }}
            {% for result in page.object_list %}
                <p>
		  <b>gene name:</b> 
		  {{ result.gene_name }}
		  <br />
		  <b>gene common name:</b> 
		  {{ result.gene_common_name }}
		  <br />
		  <b>gene type:</b> 
		  {{ result.gene_type }}
		  <br />
		  <b>gene strand:</b>
		  {{ result.gene_strand }}
		  <br />
		  <b>gene description:</b> 
		  {{ result.gene_description }}
		  <br />
		  <b>chromosome:</b>
		  {{ result.chromosome }}		  
		  <br />
		  <b>chromosome length:</b>
		  {{ result.chromosome_length }}
		  <br />
		  <b>chromosome topology:</b>
		  {{ result.chromosome_topology }}
		  <br />
		  <b>species name:</b>
		  {{ result.species_name }}
		  <br />
		  <b>species short name:</b>
		  {{ result.species_short_name }}
		  <br />
		  <b>network name:</b> {{ result.network_name }}
		  <br />
		  <b>network descr:</b> {{ result.network_description }}
		  <br />
		  <b>network creation time:</b> {{ result.network_created_at }}
		  <br />
		  <b>gene name from species:</b> {{ result.gene_name.0 }} , {{ result.gene_name.5 }}
		  <br />
		  <b>text:</b> {{ result.text }}
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
