<div id="page">
  <div id="content">
    <h1>About the Network Portal</h1>
    <p>The Network Portal is ...</p>

    <h2>Credits</h2>
    <h2>Tools</h2>
    <h2>Source</h2>
    <p><a href="/">home</a></p>
  </div>
</div>
