<div id="page">
  <div id="sidebar">
    <ul id="sidebar-items">
      <li>
        <h3>Links</h3>
        <ul class="links">
          <li><a href="/about">About</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div id="content">
    <div id="header">
      <h1>Network Portal</h1>
      <h2>A resource for networks in systems biology</h2>
    </div>
    
    <div id="place-holder">
      <p> Karen Test </p>
      <p>We're prototyping the UI and flow of the app. This is the landing page. You can also visit the following pages:</p>
      
      <ol>
        <li><a href="/search_form">Search page</a></li>
        <li><a href="/search?q=foo">Search results page</a></li>
        <li><a href="/network">Network view page</a></li>
      </ol>
    </div>
  </div>

  <div id="footer"><a href="http://systemsbiology.org/"><img src="/images/isblogo.gif" width="115" height="65" alt="Institute for Systems Biology" /></a></div>
</div>
